S3method(plot,predict.downscale)
S3method(predict,downscale)
export(downscale)
export(plot.predict.downscale)
export(predict.downscale)
export(ensemble.downscale)
export(upgrain)
export(hui.downscale)
export(upgrain.threshold)
exportClasses(predict.downscale)
exportClasses(downscale)
exportClasses(upgrain)
import(minpack.lm)
import(Rmpfr)
import(cubature)
import(sp)
import(raster)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "legend", "par", "points", "title")
importFrom("methods", "getFunction")
importFrom("stats", "coef", "uniroot")