S3method(plot,predict.downscale)
S3method(predict,downscale)
export(downscale)
export(plot.predict.downscale)
export(predict.downscale)
export(ensemble.downscale)
export(upgrain)
export(hui.downscale)
export(upgrain.threshold)
importFrom(minpack.lm, nls.lm, nls.lm.control)
importFrom(Rmpfr, mpfr)
importFrom(cubature, adaptIntegrate)
importFrom(sf, st_as_sf, st_bbox, st_coordinates, st_crs)
importFrom(terra, aggregate, as.polygons, crs, disagg, ext, extend,
           plot, rast, rasterize, res, values, xFromCell, yFromCell)
importFrom(grDevices, rgb)
importFrom(graphics, abline, legend, lines, par, points, rect, title)
importFrom(methods, getFunction)
importFrom(stats, coef, pnorm, uniroot)